1) Knowledge of Cryptography! The cryptos used here are Caeser Cipher, ASCII Shift and single morse code (Nothing fancy).
2) Knowledge of Steganography! Analyzing an audio file with Spectrogram visualizer (just like Sonic Visualizer).
3) Ability to think out of the box, trying every combination of perspective of looking at things, like opening an audio or image file in text editor, and what not!
4) Of course, your enthusiasm for an adventurous journey! Yes that's it!
5) Explore everything and have fun!
6) Stop reading this and solve the puzzle! >:(
